.menuContainer {
	position: fixed;
	width: 100vw;
}
.actualList {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
	margin: 0em;
	padding: 0;
	background-color: rgba(154, 186, 144, 0.724);
	box-shadow: 0 8px 10px -1px rgba(141, 134, 134, 0.402);
}

.menuItem {
	list-style: none;
	position: relative;
	padding: 1em;
	cursor: pointer;
	margin-right: 50px;
}

.menuItem:hover ul, :focus ul {
	opacity: 1;
	visibility: visible;
}


.drop {
	position: absolute;
	top: 3.3em;
	left: 0em;
	box-shadow: 0 3px 10px grey;
	background-color: rgba(226, 255, 226, 0.425);
	border-radius: 0.5em;
	width: 12em;
	padding: 0.75em;
	display: flex;
	flex-direction: column;
	gap: 0.4em;
	opacity: 0;
	visibility: hidden;
	transition: 0.2s;
}

.drop li {
	list-style: none;
	padding: 0.25em 0.5em;
	border-radius: 0.5em;
	transition: 0.1s;
}

.drop li:hover {
	background-color: rgba(167, 199, 158, 0.311);
	cursor: pointer;
}