.menuContainer ul {
	display: flex;
	background-color: rgb(207, 209, 207);
	padding: 0em 30em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin: 0;
}


.menuItem {
	font-size: 15px;;
	padding: 18px;
	width: 80px;
	text-align: center;
	transition: 0.2s;
	cursor: pointer;
	height: 17px;
	list-style: none;
	position: relative;
}

.menuItem:hover {
	background-color: rgb(218, 221, 218);
	color: rgb(40, 38, 33);
}

.dropDown {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	width: 200px;
	background-color: rgb(218, 221, 218);;
	padding: 10px;
	display: flex;
	padding: 1em 2em;
	flex-direction: column;
}

.dropDownHeader {
	font-family: monospace;
	font-size: 15px;
	font-weight: bold;
}

.menuItem:hover .dropDown {
	visibility: visible;
}