.navContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:#F4F1EA;;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 8px;
	height: 60px;
	font-family: Inter;
	padding: 0em 5em;;
}

.navLogo {
	display: flex;
	font-size: larger;
	font-weight: bold;
}

.navLogo img {
	width: 192px;
	height: 37.84px;
	margin-right: 0px;
}

.navSearch {
	display: flex;
	margin: 0 5em;
}
	
.navSearch input {
	border-radius: 0.25em;
	padding: 3%;
	font-size: 14px;
	font-family: Inter;
	border: 0.75px solid rgb(133, 133, 133);
	width: 300px;
	height: 12px;
	background-color: aliceblue;
	color: rgb(8, 8, 7);
	outline: none;
	box-shadow: none;
	transition: box-shadow 0.1s;
	margin: 0 10px;
  }
  
  .navSearch input:focus {
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
	border: 1px solid rgb(52, 50, 50);
  }

.navAccount {
	display: inline-flex;

}

.logInSection {
	width: 160px;
	display: inline-flex;
	align-items: center;
	color: rgb(0, 0, 0);
	font-size: 13px;
}

.navAccount img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
}